:root {
  --bg-rose: #ffabd4;
  --bg-red: #ff055c;
  --bg-darkred: red;
  --bg-darkgray: #474445;
  --bg-black: #000000;
  --bg-blue: #0d87ff;
  --bg-lightblue: #8cc6ff;
  --bg-skyblue: skyblue;
  --bg-orange: #ffa60d;
  --bg-lightorange: #ffdc96;
  --bg-white: #ffffff;
  --bg-yellow: yellow;
  --bg-lightgreen: #51f57d;
  --bg-shadow: rgba(116, 117, 116, .5);
}



